<h1>Create Room</h1>
<form action="/room/create" method="POST">
    <input type="text" name="name" value="" placeholder="Enter Room Name">
    <input type="text" name="description" value="" placeholder="Enter Room Description">
    <input type="text" name="imageUrl" value="" placeholder="Enter Room ImageURL">
    <button type="submit">Save</button>
</form>