<h1>Sign Up</h1>
<form action="/user/create" method="POST">
    <input type="text" name="email" value="" placeholder="Enter Email">
    <input type="password" name="password" value="" placeholder="Enter Password">
    <input type="text" name="fullName" value="" placeholder="Enter Full Name">
    <button type="submit">Sign Up</button>
</form>